In [ ]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Import the numpy and pandas packages and set options for scrolling the dataframe

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#pd.set_option("display.max_rows", None)

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [ ]:
#Read the input csv from the file path in the local computer
movies = pd.read_csv(r'C:\Users\91948\Desktop\Upgrad_Python\Jupyter Notebooks\Assignment_IMDB\Movie+Assignment+Data.csv') 
movies

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [ ]:
#To check the number of Rows and Columns of the data frame 
movies.shape

In [ ]:
#To check the list of Columns in the Dataframe 
movies.columns

In [ ]:
#to check the max , percentage of data and the stats of the column data 
movies.describe()

In [ ]:
#to check the data type data type and the collumn type and the stats of column 
movies.info()

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [ ]:
# Write your code for column-wise null count here
movies.isnull().sum(axis=0)

In [ ]:
# Write your code for row-wise null count here
movies.isnull().sum(axis=1)

In [ ]:
# Write your code for column-wise null percentages here
percentage_miss_columns=movies.isnull().sum() * 100 / len(movies)

percentage_miss_columns

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [ ]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations 
movies.drop(['color','director_facebook_likes','actor_1_facebook_likes','actor_2_facebook_likes','actor_3_facebook_likes','actor_2_name','cast_total_facebook_likes','actor_3_name','duration','facenumber_in_poster','content_rating','country','movie_imdb_link','aspect_ratio','plot_keywords',], inplace=True, axis=1)

In [ ]:
#check columns stats after dropping unwanted columns 
movies.info()

In [ ]:
#Check the new shape after dropping the unwanted columns where new rows and columns are obtained 
movies.shape

In [ ]:
#Check new data max min and percentage and stastics of the data  based on column altered 
movies.describe()

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [ ]:
# Write your code for dropping the rows here
#checking for columns having percentage (greater than 5%) of Null values

(100*(movies.isnull().sum(axis=0)/len(movies.index))>5)

In [ ]:
# Drop NAN valus of the columns identified 
movies = movies[~np.isnan(movies['gross'])]
movies = movies[~np.isnan(movies['budget'])]

In [ ]:
#Check Percentage of null/ NAN values in the columns after dropping NAN values :
(round(100*(movies.isnull().sum()/len(movies.index)), 2))

-  ### Subtask 2.4: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [ ]:
# Write your code for filling the NaN values in the 'language' column here
movies.loc[pd.isnull(movies['language']), ['language']]='English'

In [ ]:
# Check Percentage of the columns after filling english language for the null places 
(round(100*(movies.isnull().sum()/len(movies.index)), 2))

#   ### Subtask 2.5: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [ ]:
# Write your code for checking number of retained rows here
len(movies.index)

In [ ]:
int((len(movies.index)/5043)*100)

#Number of rows retained : 3891 
#Percentage of rows retained : 77 %

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [ ]:
# Write your code for unit conversion here
movies['gross'] = movies['gross']/1000000
movies['budget'] = movies['budget']/1000000

movies

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Plot `profit` (y-axis) vs `budget` (x- axis) and observe the outliers using the appropriate chart type.
    4. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [ ]:
# Write your code for creating the profit column here
movies['profit']=movies['gross']-movies['budget']

movies

In [ ]:
# Write your code for sorting the dataframe here
movies.sort_values(by='profit',ascending=False)

In [ ]:
# Write code for profit vs budget plot here


a=movies.plot(kind='scatter',x='budget',y='profit',color='blue')
a.set_title('Budget Vs Profit')

plt.show()

In [ ]:
 # Write your code to get the top 10 profiting movies here
top10 =movies.sort_values(by='profit',ascending=False)
top10.head(10)

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have noticed a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`. Note that the same `movie_title` can be there in different languages.

In [ ]:
# Write your code for dropping duplicate values here

movies.drop_duplicates(keep=False, inplace=True)
movies

In [ ]:
# Write code for repeating subtask 2 here

movies.sort_values(by='profit',ascending=False).head(10)

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

spotted two movies by directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [ ]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'

IMDB_Top_250 =movies[movies['num_voted_users']>25000]
IMDB_Top_250.sort_values(by='imdb_score',ascending=False)
IMDB_Top_250['rank'] = np.arange(len(IMDB_Top_250))


IMDB_Top_250.head(250)

In [ ]:
 # Write your code to extract top foreign language films from 'IMDb_Top_250' here

Top_Foreign_Lang_Film = IMDB_Top_250[IMDB_Top_250['language']!='English'] 
Top_Foreign_Lang_Film.sort_values(by='imdb_score',ascending=False).head(250)

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

Yes , I can spot  `Veer-Zaara` in the dataframe

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.  Incase of a tie in IMDb score between two directors, sort them alphabetically.

In [ ]:
# Write your code for extracting the top 10 directors here
movies_by_dir=movies.groupby('director_name')
mean_director=movies_by_dir['imdb_score'].mean()
dir_top_ten=mean_director.sort_values(ascending=False).head(10)

dir_top_ten

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [ ]:
# Write your code for extracting the first two genres of each movie here
genrenew = movies["genres"].str.split("|", n = 2, expand = True) 
movies['genre_1']= genrenew[0]
movies['genre_2']=genrenew[1]
movies.loc[pd.isnull(movies['genre_2']), ['genre_2']] = movies['genre_1']
movies

In [ ]:
# Write your code for grouping the dataframe here

#group by two Genre present in the movies data frame and find the mean of the genres by gross

movies_by_segment =movies.groupby(['genre_1', 'genre_2'])
movies_by_segment=movies_by_segment['gross'].mean()

movies_by_segment

In [ ]:
#the Moviesegement grouped is sorted 
PopGenre =movies_by_segment.sort_values(ascending=False)
PopGenre.head(5)

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_users_for_review` and identify the actors which have the highest mean.
    5. Observe the change in number of voted users over decades using a bar chart. Create a column called `decade` which represents the decade to which every movie belongs to. For example, the  `title_year`  year 1923, 1925 should be stored as 1920s. Sort the dataframe based on the column `decade`, group it by `decade` and find the sum of users voted in each decade. Store this in a new data frame called `df_by_decade`.

In [ ]:
# Write your code for creating three new dataframes here
#dataframe for Meryl Streep
Meryl_Streep = movies[movies.actor_1_name == 'Meryl Streep']

Meryl_Streep

In [ ]:
#Data from for Leo_Caprio
Leo_Caprio = movies[movies.actor_1_name == 'Leonardo DiCaprio']
Leo_Caprio

In [ ]:
Brad_Pitt = movies[movies.actor_1_name == 'Brad Pitt']
Brad_Pitt

In [ ]:
# Write your code for combining the three dataframes here
actor_group1 = pd.concat([Meryl_Streep, Leo_Caprio], axis = 0)
actor_group2 = pd.concat( [actor_group1, Brad_Pitt], axis = 0)
actor_group2

In [ ]:
# Write your code for grouping the combined dataframe here
combinedactor =actor_group2.groupby(['actor_1_name'])
combinedactor

In [ ]:
# Write the code for finding the mean of critic reviews and audience reviews here
critic_reviews=combinedactor['num_critic_for_reviews'].mean()
critic_reviews.sort_values(ascending=False)
 
audience_reviews=combinedactor['num_voted_users'].mean()
 
audience_reviews.sort_values(ascending=False)

**Checkpoint 6:** `Leonardo` has aced both the lists! - 'Yes'

In [ ]:
# Write the code for calculating decade here
movies['decade'] = (movies['title_year'] - movies['title_year']%10).astype(int)
movies

In [ ]:
# Write your code for creating the data frame df_by_decade here 
df_by_decade = movies.groupby(["decade"])
df_by_decade=df_by_decade["num_voted_users"].sum().reset_index().sort_values(["decade"])

df_by_decade

In [ ]:
# Write your code for plotting number of voted users vs decade

b=df_by_decade.plot(kind='bar',x='decade',y='num_voted_users')
b.set_title('number of voted users vs decade')
plt.yscale('log')
plt.show()